
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background: #fdfdfd;
  color:rgb(43, 12, 120);
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: yellow;
}

p {
  margin-bottom: 1em;
}

header, footer {
  background: orange;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border: 3px solid #2a4d69;
  border-radius: 6px;
}

a {
  color:yellow;
  text-decoration: none;
  padding: 2px 4px;
}
a:hover {
    color: white;
   color:rgb(43, 12, 120);
  border-radius: 4px;
  font-weight: bold;
}