
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 20px;
  background: #fdfdfd;
  color: #333;
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #2a4d69;
}

p {
  margin-bottom: 1em;
}

header, footer {
  background: #e1eaf2;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  border: 3px solid #2a4d69;
  border-radius: 6px;
}

a {
  color: #2a4d69;
  text-decoration: none;
  padding: 2px 4px;
}
a:hover {
    color: white;
  background:#2a4d69;
  border-radius: 4px;
  font-weight: bold;
}