* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
  }
  
  main, header, footer {
    color: #394e73;
  }

  main{
    border: 2px dashed #a1b7df;
  }
  
  header,
  footer {
    height:auto;
  }
  
  main {
    height:auto;
  }

.image-box{
    display:flex;
    border: 5px solid #394e73;
    background-color: #e2e6ed;
}

.image-box img{
    display:flex;
    border: 3px solid #8194b6;
    max-width: 100%;
}

.image-box figcaption{
    text-align: center;
    margin-top: 5px;
    font-size: x-large; stroke-width: 3px;
    color: #394e73;
}

.grid-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr ;
  max-width: 100%;
}

.item{
  background-color: red;
}

.item01{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}
.item02{
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item03{
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

.item04{
  grid-column-start: 2;
  grid-column-end: 2;
}


